@font-face {
  font-family: 'KIA';
  src: url("~@/assets/fonts/KIAOTFB.otf");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'KIA';
  src: url("~@/assets/fonts/KIAOTFM.otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'KIA';
  src: url("~@/assets/fonts/KIAOTFL.otf");
  font-style: normal;
  font-weight: 100;
}
